h1,h2,h3,h4,h5,p,.navbar {
    font-family: Verdana;
}

#home, #projects, #contact {
    padding: 10px;
}

#topnav {
    background-color: rgba(50,100,100,0.9);
}

#topnav::after{
    filter: blur(5px);
}


h1, h2, h3, h5, #score, #contactpage {
    text-align: center;
    font-weight: bold;
}

#contactpage {
    padding-top: 25px;
    padding-bottom:40px;
    
}

#non-carousel-projects, #compositing, #demoreel {
    text-align:center;
    padding-top: 10px;
    /*padding: 30px;*/
}

#non-carousel-projects{
    padding-bottom: 30px;
}
#compositing, #demoreel {
    padding-bottom: 40px;
}

body {
    padding-top: 50px;
}

footer {
    /*position: fixed;*/
    
    height: 60px;
    /*bottom: 0;*/
    width: 100%;
    background-color: #EEE;
    padding:10px;
}

input {
    vertical-align: baseline;
}

img {

    max-width: 100%;
    max-height: 100%;
}

.item {
    display: block;
    margin: 0 auto;
    width: 100%; 
    height: 100%;
}

.scoretable, .nametable {
   text-align: center; 
}


#footer-container {
    padding-top: 5px;
}

.center-block, canvas, #homebtn, #scoresubmit {
    padding: 0;
    margin: auto;
    display: block;
}

.centerform {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 2px solid #909090;
}

.navul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #EEEEE;
    display: flex;
    align-items: center;
}

.navli {
    float: left;
    
}

.navli a {
    display: block;
    color: #444;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navli a:hover {
    background-color: #777;
}

#brand, #lists li a {
    color: #FFF;
}

#lists li a:hover {
    color:#CCC;
    background-color: rgba(150,150,150,0.7);
}

#homepage {
    background-color: rgba(245,245,245,0.3);
    padding-bottom:20px;
    background-image: url("../img/backgrounds/donuts_freestyle2_faded.png");
}

#homepage p,  h4 {
    text-align: center;
}

#projectpage {
    background-color: rgba(240,240,240,1);
    padding-bottom: 20px;
    background-image: url("../img/backgrounds/double_bass_freestyle_faded.png");
}

#demopage {
    background-color: rgba(235,235,235,1);
    padding-top:10px;
    background-image: url("../img/backgrounds/revenger_freestyle2_faded.png");
}


#contactpage {
    background-color: rgba(230,230,230,1);
    background-image: url("../img/backgrounds/steampunk_city_6hr_freestyle_faded.png");
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

#listwrap ul{
    width:100%;
    list-style-position: outside;
    padding-left: 40pt;
}