
<label for="FirstName" class="col-md-9">
    
    <input type="radio" id="ClassOptionsA" name="ClassButtons" ng-model="ModelData.ClassOptions"
    value="M" />
    Mage
    <input type="radio" id="ClassOptionsB" name="ClassButtons" ng-model="ModelData.ClassOptions"
        value="D" />
    Druid
    <input type="radio" id="ClassOptionsA" name="ClassButtons" ng-model="ModelData.ClassOptions"
        value="R" />
    Rogue
    <input type="radio" id="ClassOptionsB" name="ClassButtons" ng-model="ModelData.ClassOptions"
        value="P" />
    Paladin
    <input type="radio" id="ClassOptionsA" name="ClassButtons" ng-model="ModelData.ClassOptions"
        value="B" />
    Barbarian
    <input type="radio" id="ClassOptionsB" name="ClassButtons" ng-model="ModelData.ClassOptions"
        value="W" />
    Warlock
    <input type="radio" id="ClassOptionsA" name="ClassButtons" ng-model="ModelData.ClassOptions"
        value="A" />
    Bard
    
    
</label>



<br>
        

    

<div class="form-group" ng-show="ModelData.Class">
    
            
</div>