<table border="0">
<tr>
    <td>
        Character Name:    
    </td>    
    <td>
        <input type="text" id="CharName" name="CharName" class="user-detail" ng-model="ModelData.CharName">    
    </td>
</tr>

<tr>
    <td>
        Player Name:
    </td>    
    <td>
        <input type="text" id="PName" name="PName" class="user-detail" ng-model="ModelData.PName">
    </td>
</tr>
    
<tr>
    <td>
        Level:
    </td>    
    <td>
        <input type="text" id="LevelIn" name="LevelIn" class="user-detail" ng-model="ModelData.LevelIn">
    </td>
</tr>

<tr>
    <td>
        Experience Points:
    </td>    
    <td>
        <input type="text" id="ExPts" name="ExPts" class="user-detail" ng-model="ModelData.ExPts">
    </td>
</tr>

</table>