<h4><label for="Notes">
    <input type="checkbox" id="Notes" name="Notes" ng-model="ModelData.Notes">
    Add Character Development Notes
</label></h4>
    

<div class="form-group" ng-show="ModelData.Notes">
    <table border="0">
        
        <tr>
        <div class="section">
        <p>Character Backstory</p>
        <textarea name="" id="backstory-in"></textarea>
        </div>
        </tr>
        
        <tr>
        <div class="section">
        <p>Personality Traits</p>
        <textarea name="" id="personality-in"></textarea>
        </div>
        </tr>
        
    
        <tr>
        <div class="section">
        <p>Physical Traits</p>
        <textarea name="" id="physical-in"></textarea>
        </div>
        </tr>
    </table>
</div>