<table class="racechoice">
    <tr>
        <td>
        <label for="humanclass">
            <input type="radio" id="humanclass" name="ClassButtons" ng-model="ClassOptions"
            value="M" />
            Human
        </label>   
        </td>
        <td>
        <label for="orcclass">
            <input type="radio" id="orcclass" name="ClassButtons" ng-model="ClassOptions"
                value="Bd" />
            Orc
        </label>    
        </td>
    </tr>
    <tr>
        <td>
        <label for="elfclass">
            <input type="radio" id="elfclass" name="ClassButtons" ng-model="ClassOptions"
                value="P" />
            Elf
        </label>            
        </td>
        <td>
        <label for="dwarfclass">
            <input type="radio" id="dwarfclass" name="ClassButtons" ng-model="ClassOptions"
                value="R" />
            Dwarf
        </label>            
        </td>
    </tr>
    <tr>
        <td>
        <label for="dragonclass">
            <input type="radio" id="dragonclass" name="ClassButtons" ng-model="ClassOptions"
                value="Bb" />
            Dragonborne
        </label>
        </td>
        <td>
        <label for="halflingclass">
            <input type="radio" id="halflingclass" name="ClassButtons" ng-model="ClassOptions"
                value="W" />
            Halfling
        </label>    
        </td>
    </tr>

</table>