<div class="form-group" ng-show="ModelData.Animals">
            <label for="FirstName" class="col-md-9">
                Are you interested in Animal Liability Coverage?
            </label>
            <div class="col-md-3">
                <label>
                    <input type="radio" id="AnimalLiabCovY" name="AnimalLiabilityCoverageRadio" ng-model="ModelData.AnimalLiabCov"
                        value="Y" />
                    Yes
                    <input type="radio" id="AnimalLiabCovN" name="AnimalLiabilityCoverageRadio" ng-model="ModelData.AnimalLiabCov"
                        value="N" />
                    No
                </label>
            </div>
        </div>