
<h4><label for="Spells">
    <input type="checkbox" id="Spells" name="Spells" ng-model="ModelData.Spells">
    Spells
</label></h4>
    



<div class="form-group" ng-show="ModelData.Spells">
    
    <div class="col-md-3">
        <br>
        <label>
            <input type="radio" id="SpellOptionsA" name="SpellButtons" ng-model="ModelData.SpellOptions"
                value="Y" />
            Yes
            <input type="radio" id="SpellOptionsB" name="SpellButtons" ng-model="ModelData.SpellOptions"
                value="N" />
            No
        </label>
    </div>
</div>