<br><br>
<h4>Barbarian Skills</h4>

<table id="barbarian-skills" class="classtable">
    
    <tr>
        <th>Skill Name</th>
        <th>Level Required</th>
        <th>Attribute</th>
    </tr>
    
    <tr>
        <td>Intimidation</td>
        <td>1</td>
        <td>Charisma</td>
    </tr>
    
    <tr>
        <td>Athletics</td>
        <td>0</td>
        <td>Strength</td>
    </tr>
    
</table>


<br><br>
<h4>Barbarian Prestige Artifacts</h4>
<table id="barbarian-items" class="classtable">
    
    <tr>
        <th>Artifact Name</th>
        <th>Type</th>
        <th>Bonus</th>
    </tr>
    
    <tr>
        <td>Dragonborn Hammer</td>
        <td>Weapon</td>
        <td>+2d8 with a d20 roll above 8</td>
    </tr>
    

</table>