<br><br>
<h4>Bard Skills</h4>

<table id="bard-skills" class="classtable">
    
    <tr>
        <th>Skill Name</th>
        <th>Level Required</th>
        <th>Attribute</th>
    </tr>
    
    <tr>
        <td>Insight</td>
        <td>1</td>
        <td>Wisdom</td>
    </tr>
    
    <tr>
        <td>Performance</td>
        <td>0</td>
        <td>Charisma</td>
    </tr>
    
</table>


<br><br>
<h4>Bard Prestige Artifacts</h4>
<table id="bard-items" class="classtable">
    
    <tr>
        <th>Artifact Name</th>
        <th>Type</th>
        <th>Bonus</th>
    </tr>
    
    <tr>
        <td>Wayfinder</td>
        <td>Wondrous Item</td>
        <td>+15 on all insight and survival checks</td>
    </tr>
    

</table>