<br><br>
<h4>Mage Spells</h4>

<table id="mage-spells" class="classtable">
    
    <tr>
        <th>Spell Name</th>
        <th>Level Required</th>
        <th>Casting Time</th>
    </tr>
    
    <tr>
        <td>Animate Objects</td>
        <td>5</td>
        <td>1 Action</td>
    </tr>
    
    <tr>
        <td>Blade Barrier</td>
        <td>6</td>
        <td>1 Action</td>
    </tr>
    
    <tr>
        <td>Chain Lightning</td>
        <td>6</td>
        <td>1 Action</td>
    </tr>
    
    <tr>
        <td>Clairvoyance</td>
        <td>3</td>
        <td>10 Minutes</td>
    </tr>
    
    <tr>
        <td>Conjure Elemental</td>
        <td>5</td>
        <td>1 Minute</td>
    </tr>
    
    <tr>
        <td>Eldritch Blast</td>
        <td>0</td>
        <td>1 Action</td>
    </tr>
    
    <tr>
        <td>Levitate</td>
        <td>2</td>
        <td>1 Action</td>
    </tr>
</table>


<br><br>
<h4>Mage Prestige Artifacts</h4>
<table id="mage-items" class="classtable">
    
    <tr>
        <th>Artifact Name</th>
        <th>Type</th>
        <th>Bonus</th>
    </tr>
    
    <tr>
        <td>Pendant of Syranita</td>
        <td>Wondrous Item</td>
        <td>+20 flying speed</td>
    </tr>
    
    <tr>
        <td>Monolith</td>
        <td>Wondrous Item</td>
        <td>-1d6 minutes on duration spells</td>
    </tr>
    

</table>