
.banner {
	position: absolute;
	left:0;
	right:0;
	height: 80px;
	padding: 10px;
	color: #e6f2ff;
	background-color: transparent;
	background-image: url("../images/rpi1dark.png");
	/*background: -webkit-linear-gradient(transparent, transparent),
							url(images/swirlback.jpg) no-repeat;
	background: -o-linear-gradient(transparent, transparent);*/
	/*-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;*/

}

.side{
	position: absolute;
	left: 0;
	top: 100px;
	bottom: 0;
	width: 150px;
	padding: 15px;
	min-height: 100%;
}

.body{
	position: absolute;
	left: 150px;
	top: 100px;
	right: 0;
	bottom: 0;
	padding: 15px;
}

.container{
	width: 100%;
	bottom: 0;
	min-height: 100%;
	position: relative;
	padding-bottom: 30px;
}


.container .outer .inner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 100%;
}

.container .outer {
	width: 100%;
	padding-top: 75%;
	position: relative;
	margin-bottom: -30px;
	min-height: 100%;
}

#bodyContainer {
	border-radius: 22px;
	border: 2px solid #ccddff;
	background: #00081a;
	padding: 10px;
	position: absolute;
}

#bodyContainer h1 {
	background-image: url("../images/rpi1dark.png");
}

#container2 {
	border-radius: 2px;
	border: 2px solid #b3ccff;
	background: #001133;
}

a.sideL:link {
	text-decoration: none;
	color: #e5eeff;
	padding: 12px 14px;
	text-align: center;
	display: inline-block;
	font-size: 12px;
}

a.sideL:hover, a.sideL:active{
	color: #66ffff;
	background-color: #006666;
	/*width: 118px;*/
}

a:link {
	text-decoration: none;
	color: #e5eeff;

}

a:hover, a:active{
	color: #ffb84d;
	/*background-color: #d6e0f5;*/
	/*width: 118px;*/
}

div{
	font-family: Verdana, sans-serif;
	font-size: 12px;
	color: #e5f2ff;
	/*overflow: hidden; */
}

ul{
	overflow: hidden;
}

p {
	padding: 10px;
	text-align: justify;
}

h1 {
	padding: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h2 {
	/*padding: 10px;*/
	font-family: "Tahoma", Geneva, sans-serif;
}

.disclaimer {
	font-size: 10px;
	color: #e5ffff;
}

.regularLink {
	color: #e5ffff;
}

img{
	text-align: center;
}

footer, body:after {
	height: 30px;
}

html, body {
	height: 100%;
}

body:after {
	content: "";
	display: block;
}

footer {
	/*position: relative;*/
	bottom: 0;
	width: 70%;
	/*border-radius: 22px;
	border: 2px solid #ccddff;
	background: #00081a;
	padding: 10px;*/
}
/*
html, body {
	height: 100%;
	display: flex;
	flex-direction: column;
}
*/
