body {
	background: #ecf2f9;
	background-image:url("http://www.krispykreme.com/SharedContent/User/a3/a32ca952-1d54-46bb-bdd7-11cb886d06de.png");
	font-family: Lucida Sans Unicode, Tahoma, Arial, sans-serif;
	font-size: 12px;
	overflow: auto;
}	

#wrapper {
	margin: 0 auto;
	max-width: 100%;
	width:98%;
	background: #ECF1EF;
	border: 1px solid #E0FFFF;
	border-radius: 2px;
	box-shadow: 0 0 10px 0px rgba(12, 3, 25, 0.8);
}

nav ul {
	list-style: none;
	margin: 0;
	display: center;
}
nav ul li {
	float: left;
	border: 1px solid #F4F4F4;
	width: 15%;
}
nav ul li a {
	background: #00bfff;
	display: block; 
	padding: 5% 12%;
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
}

/*
#buttonHome {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: #00bfff;
    text-align: center;
    color: #FFFFFF;
    font-family: Verdana, Arial, Sans-Serif;
    opacity: 0.6;
}
*/

