<br><br>
<h4>Paladin Skills</h4>

<table id="paladin-skills" class="classtable">
    
    <tr>
        <th>Skill Name</th>
        <th>Level Required</th>
        <th>Attribute</th>
    </tr>
    
    <tr>
        <td>Survival</td>
        <td>1</td>
        <td>Wisdom</td>
    </tr>
    
    <tr>
        <td>Perception</td>
        <td>0</td>
        <td>Wisdom</td>
    </tr>
    
</table>


<br><br>
<h4>Paladin Prestige Artifacts</h4>
<table id="paladin-items" class="classtable">
    
    <tr>
        <th>Artifact Name</th>
        <th>Type</th>
        <th>Bonus</th>
    </tr>
    
    <tr>
        <td>Valiant Flame</td>
        <td>Wondrous Item</td>
        <td>+1d8 when attacking with an anointed weapon</td>
    </tr>
    

</table>