<br><br>
<h4>Rogue Skills</h4>

<table id="rogue-skills" class="classtable">
    
    <tr>
        <th>Skill Name</th>
        <th>Level Required</th>
        <th>Attribute</th>
    </tr>
    
    <tr>
        <td>Stealth</td>
        <td>0</td>
        <td>Dexterity</td>
    </tr>
    
    <tr>
        <td>Diplomacy</td>
        <td>1</td>
        <td>Charisma</td>
    </tr>
    
</table>


<br><br>
<h4>Rogue Prestige Artifacts</h4>
<table id="rogue-items" class="classtable">
    
    <tr>
        <th>Artifact Name</th>
        <th>Type</th>
        <th>Bonus</th>
    </tr>
    
    <tr>
        <td>Triforce</td>
        <td>Wondrous Item</td>
        <td>+10 on all saving throws</td>
    </tr>
    

</table>