<br><br>
<h4>Warlock Spells</h4>

<table id="warlock-spells" class="classtable">
    
    <tr>
        <th>Spell Name</th>
        <th>Level Required</th>
        <th>Casting Time</th>
    </tr>
    
    <tr>
        <td>Antilife Shell</td>
        <td>5</td>
        <td>1 Action</td>
    </tr>
    
    <tr>
        <td>Arcane Eye</td>
        <td>4</td>
        <td>1 Action</td>
    </tr>
    
    <tr>
        <td>Raise Dead</td>
        <td>5</td>
        <td>1 Hour</td>
    </tr>
    
    <tr>
        <td>Scorching Ray</td>
        <td>2</td>
        <td>1 Action</td>
    </tr>
    
    <tr>
        <td>Staggering Smite</td>
        <td>4</td>
        <td>1 Bonus Action</td>
    </tr>
    
    <tr>
        <td>Vitrolic Sphere</td>
        <td>4</td>
        <td>1 Action</td>
    </tr>
    
    <tr>
        <td>Wall of Fire</td>
        <td>4</td>
        <td>1 Action</td>
    </tr>
</table>


<br><br>
<h4>Warlock Prestige Artifacts</h4>
<table id="warlock-items" class="classtable">
    
    <tr>
        <th>Artifact Name</th>
        <th>Type</th>
        <th>Bonus</th>
    </tr>
    
    <tr>
        <td>Shadowcarver</td>
        <td>Greatsword</td>
        <td>+1d6 when attacking at night</td>
    </tr>
    
    <tr>
        <td>Tome of the Unrelenting Earth</td>
        <td>Wondrous Item</td>
        <td>+1 to Perception rolls</td>
    </tr>
    

</table>