<p> 
    All characters have a unique identity that you define
    at the beginning of the campaign. 
</p>

<table border="0">
<tr>
    <td>Character Name:</td>    
    <td>
        <input type="text" id="CharName" name="CharName" class="user-detail" ng-model="ModelData.CharName">    
    </td>
</tr>

<tr>
    <td>Player Name:</td>    
    <td>
        <input type="text" id="PName" name="PName" class="user-detail" ng-model="ModelData.PName">
    </td>
</tr>
    
<tr>
    <td>Level:</td>    
    <td>
        <input type="text" id="LevelIn" name="LevelIn" class="user-detail" ng-model="levelup">
    </td>
</tr>

<tr>
    <td>Race:</td>
    <td>
    <table class="racechoice">
        <tr>
            <td>
            <label for="humanclass">
                <input type="radio" id="humanclass" name="ClassButtons" ng-model="ClassOptions"
                value="Humans" />
                Human
            </label>   
            </td>
            <td>
            <label for="orcclass">
                <input type="radio" id="orcclass" name="ClassButtons" ng-model="ClassOptions"
                    value="Orcs" />
                Orc
            </label>    
            </td>
        </tr>
        <tr>
            <td>
            <label for="elfclass">
                <input type="radio" id="elfclass" name="ClassButtons" ng-model="ClassOptions"
                    value="Elves" />
                Elf
            </label>            
            </td>
            <td>
            <label for="dwarfclass">
                <input type="radio" id="dwarfclass" name="ClassButtons" ng-model="ClassOptions"
                    value="Dwarves" />
                Dwarf
            </label>            
            </td>
        </tr>
        <tr>
            <td>
            <label for="dragonclass">
                <input type="radio" id="dragonclass" name="ClassButtons" ng-model="ClassOptions"
                    value="Dragonborne" />
                Dragonborne
            </label>
            </td>
            <td>
            <label for="halflingclass">
                <input type="radio" id="halflingclass" name="ClassButtons" ng-model="ClassOptions"
                    value="Halflings" />
                Halfling
            </label>    
            </td>
        </tr>
    </table>
    </td>
    
    
</tr>

<tr>
    <td>Experience Points:</td>    
    <td>
        <input type="text" id="ExPts" name="ExPts" class="user-detail" ng-model="ModelData.ExPts">
    </td>
</tr>

</table>

<br>
<h3>Character Statement</h3>
<div class="container-fluid">
    My name is 
    <b>{{ModelData.CharName}}</b>,
    known in the other world as
    <b>{{ModelData.PName}}</b>, 
    a level 
    <b>{{levelup}}</b>
    member of the noble
    <b>{{ClassOptions}}</b>.
</div>

<br><br>

<div class="container-fluid">
    Joining my party are
    <b><input type="text" placeholder="Tweedledee" class="usr"></b>,
    <b><input type="text" placeholder="Tweedledumb" class="usr"></b>,
    and
    <b><input type="text" placeholder="Bob" class="usr"></b>,
    as we begin a great adventure.
</div>

<br>
